  <!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">CONSULT HSITORY</div>
<button ion-button class="nav_btn floatRight" (click)="mainmenu()"><ion-icon name="ios-more"></ion-icon></button>
<div class="clear"></div>
</ion-header>

  <!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_history_main_tab">
    <ul>
      <li [ngClass]="{'active' : slidertab == 0}" (click)="goToSlide(0)">Video<ion-icon name="videocam"></ion-icon></li>
      <li [ngClass]="{'active' : slidertab == 1}" (click)="goToSlide(1)">Audio<ion-icon name="call"></ion-icon></li>
      <li [ngClass]="{'active' : slidertab == 2}" (click)="goToSlide(2)">Text<ion-icon name="text"></ion-icon></li>
    </ul>
  </div>
  <ion-slides pager="false" #mySlider class="hc_slide"  (ionSlideDidChange)="slideChanged()">
        <ion-slide class="theme_secondary">
          <div class="hc_slide_wrapper">
          <ul>
            <li (click)="open_page('ConsulthistoryPage')">
          <div class="hc_list_wrapper">
            <ul>
              <li>
                <div class="hc_list_pic">
                  <img src="assets/imgs/e_pic3.jpg">
                </div>
                <div class="hc_list_detail">
                  <h4>Dr. Colin Macgray</h4>
                  <h6>Cardio Specialist</h6>
                    <div class="hc_stars">
                      <form>
                        <span class="rating">
                        <input type="radio" value="5" class="star star-5" id="rating-input-1-5" ng-model="star.val" name="val"><label for="rating-input-1-5" class="star star-5"></label>
                        <input type="radio" value="4" class="star star-4" id="rating-input-1-4" ng-model="star.val" name="val"> <label for="rating-input-1-4" class="star star-4"></label>
                        <input type="radio" value="3" class="star star-3" id="rating-input-1-3" ng-model="star.val" name="val"> <label for="rating-input-1-3" class="star star-3"></label>
                        <input type="radio" value="2" class="star star-2" id="rating-input-1-2" ng-model="star.val" name="val"> <label for="rating-input-1-2" class="star star-2"></label>
                        <input type="radio" value="1" class="star star-1" id="rating-input-1-1" ng-model="star.val" name="val"> <label for="rating-input-1-1" class="star star-1"></label>
                        </span>
                      </form>
                    </div><p class="hc_rate">4.9</p>
                </div>
                <div class="clear"></div>
              </li>
            </ul>
            <div class="hc_consult_history_wrapper_inner">
              <div class="hc_bookdetails">
                <ul>
                  <li>
                    <p>Date</p>
                    <h5>21-Nov-2017</h5>
                  </li>
                  <hr>
                  <li>
                    <p>Time</p>
                    <h5>11:00 AM</h5>
                  </li>
                  <hr>
                  <button class="hc_utitlity_btn floatRight">Call</button>
                  <div class="clear"></div>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
        </ion-slide>
        <ion-slide class="theme_secondary">
          2
        </ion-slide>
        <ion-slide class="theme_secondary">
          3
        </ion-slide>
      </ion-slides>

</ion-content>
