<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">PAYMENT HISTORY</div>
<button ion-button class="nav_btn floatRight" (click)="mainmenu()"><ion-icon name="ios-more"></ion-icon></button>
<div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
<div class="hc_consult_history_wrapper">
  <h6>Consultation 1</h6>
  <div class="hc_consult_history_wrapper_inner">
    <div class="hc_payment_history">
      <ul>
        <li>Booking Details</li>
        <li>Payment Details</li>
        <li>Status</li>
      </ul>
    </div>

  </div>
</div>

</ion-content>
