  <!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
 <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
 <div class="nav_header_title floatLeft textCenter">DOCTOR LIST</div>
 <button ion-button class="nav_btn floatRight" (click)="mainmenu()"><ion-icon name="ios-more"></ion-icon></button>
 <div class="clear"></div>
</ion-header>

  <!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_list_wrapper">

  <!-- LISTING-WRAPPER -->

    <ul>
      <li (click)="open_page('DocprofilePage')">
        <div class="hc_list_pic">
          <img src="assets/imgs/e_pic3.jpg">
        </div>
        <div class="hc_list_detail">
          <h4>Dr. Colin Macgray</h4>
          <h6>Cardio Specialist</h6>
          <p><span><img src="assets/imgs/hc_star.png"></span>4.9</p>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="hc_list_pic">
          <img src="assets/imgs/e_pic4.jpg">
        </div>
        <div class="hc_list_detail">
          <h4>Dr. Maria Simon</h4>
          <h6>Urologist</h6>
          <p><span><img src="assets/imgs/hc_star.png"></span>2.2</p>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="hc_list_pic">
          <img src="assets/imgs/e_pic2.jpg">
        </div>
        <div class="hc_list_detail">
          <h4>Dr. Robert Philips</h4>
          <h6>Gastrologist</h6>
          <p><span><img src="assets/imgs/hc_star.png"></span>3.5</p>
        </div>
        <div class="clear"></div>
      </li>
    </ul>

  <!-- LISTING-WRAPPER-ENDS -->

  </div>
</ion-content>
