
 <!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
  <button class="nav_btn floatLeft"></button>
  <div class="nav_header_title floatLeft textCenter">HOME</div>
  <button ion-button class="nav_btn floatRight"><ion-icon name="ios-more" (click)="mainmenu()"></ion-icon></button>
  <div class="clear"></div>
</ion-header>

  <!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">

  <!-- LOGIN-WRAPPER-STARTS -->

  <div class="hc_login_wrapper">

  <!-- LOGIN-FORM-DIV-STARTS -->

          <div class="hc_login_form">
            <div class="hc_login_form_row">
              <select class="hc_login_select">
                <option>Select Health Disorders</option>
              </select>
            </div>
            <div class="hc_login_form_row">
              <div class="hc_login_upload">Upload medical report</div>
            </div>
            <div class="hc_login_form_row">
              <select class="hc_login_select">
                <option>Consultation type</option>
              </select>
            </div>
            <div class="hc_login_form_row">
              <ion-item class="hc_login_calender">
                  <ion-datetime   placeholder="MMM DD YYYY"  min="2017-11-01" max="2030-10-31" displayFormat="MMM DD YYYY"></ion-datetime>
              </ion-item>
            </div>
            <br>
            <div class="hc_login_form_row">
              <button ion-button class="hc_login_btn" (click)="open_page('ListPage')">Search</button>
            </div>
          </div>

  <!-- LOGIN-FORM-DIV-ENDS -->

  </div>

  <!-- LOGIN-WRAPPER-ENDS -->

</ion-content>
