
/*
	Site Name: HomeoCare International
	URI: http:
	Description: This is the custom css for HomeoCare International
	Version: 1.0
	Author: Amal-Techware Solution
	Author URI:
	Tags:

	---------------------------
	CUSTOM STYLES
	---------------------------

	TABLE OF CONTENTS
	---------------------------

	 01. LOGIN-PAGE-STYLE
   02. SIGNUP-PAGE-STYLE
   03. HOME-PAGE-STYLE
   04. LIST-PAGE-STYLE
   05. MENU-PAGE-STYLE
   06. DOCTOR-PROFILE-PAGE-STYLE
   07. BOOK-DETAIL-PAGE-STYLE
   08. SUCCESS-PAGE-STYLE
   09. CONSULT-HISTORY-PAGE-STYLE
   10. PAYMENT-HISTORY-PAGE-STYLE
   11. CONSULTING-HISTORY-MAIN-PAGE-STYLE



*/


/*-------------------------------

01. LOGIN-PAGE-STYLE

--------------------------------*/

.hc_login_wrapper{width: 100%;}
.hc_logo{width:100%;text-align: center;padding-top: 30px;}
.hc_logo img{width:300px;}
.hc_login_form{width:100%;padding-top:20%;}
.hc_login_form_row{width:100%;padding-bottom:20px;}
.hc_login_input{width: 100%;background-color: #ffffff !important;border-radius:5px;border:none;height:50px;padding-left:55px;background-size: 20px !important;background-position: 15px !important;font-size: 16px;}
.hc_user{background:url("../assets/imgs/hc_user.png");background-repeat: no-repeat;}
.hc_pass{background:url("../assets/imgs/hc_pass.png");background-repeat: no-repeat;}
.hc_login_input::-webkit-input-placeholder {color:#3a3a3a;}
.hc_login_input::-moz-placeholder {color:#3a3a3a;}
.hc_login_input:-ms-input-placeholder {color:#3a3a3a;}
.hc_login_input:-moz-placeholder {color:#3a3a3a;}
.hc_login_form p{color: #fff;text-decoration: underline;margin:0px;font-size: 16px;}
.hc_login_btn{width:100%;height:50px;color: #fff;border-radius:25px;background:#064bb1;font-size: 18px;text-transform: capitalize;cursor:pointer;}
.hc_signup_btn{width:100%;height:50px;color: #fff;font-size: 18px;text-transform:uppercase;cursor:pointer;}

/*-------------------------------

02. SIGNUP-PAGE-STYLE

--------------------------------*/

.hc_signup_input{width: 100%;background-color: #ffffff !important;border-radius:5px;border:none;height:50px;padding-left:15px;background-size: 20px !important;background-position: 15px !important;font-size: 16px;}
.hc_social_btn{width:100%;height:35px;font-weight: 400;color: #fff;border-radius:25px;background:#064bb1;font-size: 18px;text-transform: capitalize;cursor:pointer;}
.hc_social_btn ion-icon{padding-right: 10px;}

/*-------------------------------

03. HOME-PAGE-STYLE

--------------------------------*/

.hc_login_select{width: 100%;-webkit-appearance: none;-moz-appearance: none;background-color: #ffffff !important;border-radius:5px;border:none;height:50px;padding-left:10px;background-size: 20px !important;background-position: right 15px top 15px !important;font-size: 16px;background:url("../assets/imgs/hc_drop_down.png");background-repeat: no-repeat;}
.hc_login_upload{width: 100%;-webkit-appearance: none;-moz-appearance: none;background-color: #ffffff !important;border-radius:5px;border:none;height:50px;padding-left:10px;background-size: 20px !important;background-position: right 15px top 15px !important;text-align: left !important;font-size: 16px;background:url("../assets/imgs/hc_text.png");background-repeat: no-repeat;padding: 15px;}
.hc_login_calender{width: 100%;-webkit-appearance: none;-moz-appearance: none;background-color: #ffffff !important;border-radius:5px;border:none;height:50px;padding-left:10px;background-size: 20px !important;background-position: right 15px top 15px !important;text-align: left !important;font-size: 16px;background:url("../assets/imgs/hc_calender.png");background-repeat: no-repeat;}

/*-------------------------------

04. LIST-PAGE-STYLE

--------------------------------*/

.hc_list_wrapper{width:100%;}
.hc_list_pic{width:90px;height:90px;float: left;background: #a8a8a8;border-radius: 4px;box-shadow: 0px 0px 5px 0px #888888;}
.hc_list_pic img{width: 100%;height:100%;object-fit: cover;object-position:center;border-radius: 4px;}
.hc_list_detail{width:calc(100% - 90px);float: left;padding-left: 15px;text-align: left;}
.hc_list_wrapper ul{width:100%;padding:0px;margin:0px;}
.hc_list_wrapper ul li{background: #fff;list-style: none;padding: 10px;margin-bottom: 15px;padding-top: 20px;padding-bottom: 20px;}
.hc_list_detail h4{margin:0px;color: #36474e;padding-bottom:10px;}
.hc_list_detail h6{margin:0px;color: #064bb1;padding-bottom:5px;font-size:18px;font-style: italic;}
.hc_list_detail p{margin:0px;color: #90a4ab;font-size: 18px;display: inline-block;}
.hc_list_detail p span{margin-right:5px;}
.hc_list_detail p span img{width: 25px;position: relative;top: 4px;}

/*-------------------------------

05. MENU-PAGE-STYLE

--------------------------------*/

.hc_main_menu{background:#ffffff;width:250px;float:right;position: relative;top:5px;}
.hc_main_menu h5{margin:0px;padding:10px;background: #064bb1;color:#fff;text-align: center;font-weight: 400;}
.hc_main_menu ul{margin:0px;padding:0px;}
.hc_main_menu ul li{width:100%;list-style:none;color: #36474e;font-weight: 400;padding: 10px;font-size: 16px;}

/*-------------------------------

06. DOCTOR-PROFILE-PAGE-STYLE

--------------------------------*/

.hc_stars {width:110px;display: inline-block;margin:0 auto;margin-right: 10px;}
.hc_stars input.star { display: none; }
.hc_stars label.star {float: right;padding:1px;font-size:24px;color: #a8a8a8;transition: all .2s;}
.hc_stars input.star:checked ~ label.star:before {content: '★';color: #FD4;transition: all .25s;}
.hc_stars input.star-5:checked ~ label.star:before {color: #FE7;text-shadow: 0 0 20px #952;}
.hc_stars input.star-1:checked ~ label.star:before { color: #F62; }
.hc_stars label.star:hover {  }
.hc_stars label.star:before {content: '★';}
.hc_rate{position:relative;bottom:6px;}
.hc_description{width:100%;}
.hc_description h5{color: #38474f;font-size: 20px;}
.hc_description p{color: #607c8a;text-align: justify;font-size:16px;}
.hc_timeschedule{background: #fff;border-radius: 5px;padding: 10px;margin-bottom: 20px;}
.hc_timeschedule h6{text-align: center;margin:0px;font-size: 18px;padding-bottom: 10px;color: #3a3a3a;}
.hc_timeschedule ul{margin:0px;padding:0px;}
.hc_timeschedule ul li{}
#hc_check_button {margin:4px;background-color:#f7f7f7;box-shadow: 1px 0px 1px 0px #888888;overflow:auto;color:#3a3a3a;border:1px solid #e7e7e7;position: relative;width: calc(100% - 71%);outline: none;display: inline-block;height:35px;outline:none;border-radius: 6px;}
#hc_check_button p{margin:0px;position: absolute;left: 0px;right: 0px;top: 0px;bottom: 0px;padding:7px;text-align: center;}
#hc_check_button label {width:100%;}
#hc_check_button label span {text-align:center;display:block;}
#hc_check_button label input {position:absolute;top:-20px;}
#hc_check_button input:checked + p {background-color:#064bb1;color:#fff;margin:0px;border-radius: 6px;}


/*-------------------------------

07. BOOK-DETAIL-PAGE-STYLE

--------------------------------*/

.hc_bookdetails{width:100%;}
.hc_bookdetails ul{width:100%;padding:0px;margin:0px;padding-bottom: 30px;}
.hc_bookdetails ul li{width:100%;padding:0px;margin:0px;list-style: none;text-align: center;background: transparent;border-bottom: 1px solid #ebebeb;padding-top: 15px;padding-bottom: 15px;}
.hc_bookdetails ul li p{color: #3a3a3a;font-size: 18px;margin: 0px;padding-bottom: 10px;}
.hc_bookdetails ul li h5{color:#064bb1;font-size: 24px;margin: 0px;font-weight: 700;}

/*-------------------------------

08. SUCCESS-PAGE-STYLE

--------------------------------*/

.hc_success{background: #fff;text-align: center;padding: 20px;position: relative;top:10%;}
.hc_success img{width:140px;}
.hc_success h5{color: #607c8a;margin:0px;padding: 0px;padding-top: 10px;}
.hc_success p{color: #607c8a;margin:0px;padding:0px;}

/*-------------------------------

09. CONSULT-HISTORY-PAGE-STYLE

--------------------------------*/

.hc_consult_history_wrapper{width: 100%;background: #fff;margin-bottom:15px;}
.hc_consult_history_wrapper h6{color: #36474e;margin:0px;padding:10px;border-bottom: 1px solid #ebebeb;font-size: 17px;}
.hc_consult_history_wrapper_inner{width:100%;background: #fff;}
.hc_consult_history_wrapper_inner .hc_bookdetails ul{padding-bottom: 10px;}
.hc_consult_history_wrapper_inner .hc_bookdetails ul li{border:none !important;padding-top: 5px;padding-bottom: 5px;}
.hc_consult_history_wrapper_inner .hc_bookdetails ul li p{padding: 5px !important;}
.hc_consult_history_wrapper_inner p{color:#607c8a;font-size: 16px;padding: 10px;margin: 0px;padding-bottom: 30px;}
.hc_med_time{background: #f7f7f7;border-radius: 3px;text-align: center;width:100%;padding:5px;color: #36474e;font-size: 18px;box-shadow: 1px 0px 1px 0px #888888;}
.hc_med_quantity{text-align: center;color:#064bb1;width:100%;font-size: 16px;font-weight: 600;}

/*-------------------------------

10. PAYMENT-HISTORY-PAGE-STYLE

--------------------------------*/

.hc_payment_history{width:100%;}
.hc_payment_history ul{width:100%;margin:0px;padding: 0px;}
.hc_payment_history ul li{list-style: none;padding:0px;margin:0px;text-align: center;color: #36474e;border-bottom:1px solid #ebebeb;padding: 20px;}
.hc_list_detail h3{width:100%;color:#36474e;background:url("../assets/imgs/hc_arrow.png");background-repeat: no-repeat;background-position: right 20px top 34px;margin: 0px;padding: 32px;background-size: 20px;}

/*-------------------------------

11. CONSULTING-HISTORY-MAIN-PAGE-STYLE

--------------------------------*/

.hc_history_main_tab{width:100%;}
.hc_history_main_tab ul{padding:0px;margin:0px;}
.hc_history_main_tab ul li{width:33.3%;float: left;background: #064bb1;color: #fff;list-style: none;text-align: center;padding: 15px;font-size: 18px;font-weight: 300;}
.hc_history_main_tab ul li ion-icon{margin-left:20px;}
.hc_slide_wrapper{width:100%;}
.hc_slide_wrapper ul{padding:0px;margin:0px;}
.hc_slide_wrapper ul li{list-style: none;width:100%;margin:0px;}
.hc_utitlity_btn{height:35px;border-radius: 20px;color: #fff;padding-left:30px;padding-right:30px;background: #064bb1;font-size: 16px;}
.hc_slide_wrapper .hc_consult_history_wrapper_inner{padding: 10px;}
