  <!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">CONSULTING HISTORY</div>
<button ion-button class="nav_btn floatRight" (click)="mainmenu()"><ion-icon name="ios-more"></ion-icon></button>
<div class="clear"></div>
</ion-header>

  <!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_list_wrapper">
    <ul>
      <li>
        <div class="hc_list_pic">
          <img src="assets/imgs/e_pic3.jpg">
        </div>
        <div class="hc_list_detail">
          <h4>Dr. Colin Macgray</h4>
          <h6>Cardio Specialist</h6>
            <div class="hc_stars">
              <form>
                <span class="rating">
                <input type="radio" value="5" class="star star-5" id="rating-input-1-5" ng-model="star.val" name="val"><label for="rating-input-1-5" class="star star-5"></label>
                <input type="radio" value="4" class="star star-4" id="rating-input-1-4" ng-model="star.val" name="val"> <label for="rating-input-1-4" class="star star-4"></label>
                <input type="radio" value="3" class="star star-3" id="rating-input-1-3" ng-model="star.val" name="val"> <label for="rating-input-1-3" class="star star-3"></label>
                <input type="radio" value="2" class="star star-2" id="rating-input-1-2" ng-model="star.val" name="val"> <label for="rating-input-1-2" class="star star-2"></label>
                <input type="radio" value="1" class="star star-1" id="rating-input-1-1" ng-model="star.val" name="val"> <label for="rating-input-1-1" class="star star-1"></label>
                </span>
              </form>
            </div><p class="hc_rate">4.9</p>
        </div>
        <div class="clear"></div>
      </li>
    </ul>
  </div>
  <div class="hc_consult_history_wrapper">
    <h6>Booking Details</h6>
    <div class="hc_consult_history_wrapper_inner">
      <div class="hc_bookdetails">
        <ul>
          <li>
            <p>Date</p>
            <h5>21-Nov-2017</h5>
          </li>
          <li>
            <p>Time</p>
            <h5>11:00 AM</h5>
          </li>
          <li class="borderNone">
            <p>Price</p>
            <h5>$150</h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hc_consult_history_wrapper">
    <h6>Medicine Details</h6>
    <div class="hc_consult_history_wrapper_inner">
      <p>Lorem ipsum dolor sit amet, consectetur
adipiscing elit, t. Ut enim ad minim venia
m, quis nostrud exercitation ullamco</p>
    </div>
  </div>
</ion-content>
