<ion-menu [content]="content">

  <!-- SIDEMENU-CONTENT-STARTS -->

  <ion-content class="theme_secondary">

  </ion-content>

  <!-- SIDEMENU-CONTENT-ENDS -->

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
