  <!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">CONSULTING</div>
<button ion-button class="nav_btn floatRight" (click)="mainmenu()"><ion-icon name="ios-more"></ion-icon></button>
<div class="clear"></div>
</ion-header>

  <!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_success">
    <img src="assets/imgs/hc_success.png">
    <h5>THANK YOU</h5>
    <p>for consulting with our doctor</p>
    <br>
    <button ion-button class="hc_login_btn" (click)="open_page('MedicinePage')">View Medicines</button>
  </div>
</ion-content>
