
  <!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
  <button class="nav_btn floatLeft"><ion-icon name="ios-arrow-round-back-outline" (click)="goBack()"></ion-icon></button>
  <div class="nav_header_title floatLeft textCenter">FORGOT PASSWORD</div>
  <button class="nav_btn floatRight"></button>
  <div class="clear"></div>
</ion-header>

  <!-- HEADER-ENDS -->
  
<ion-content padding class="theme_secondary">

  <!-- LOGIN-WRAPPER-STARTS -->

    <div class="hc_login_wrapper">

  <!-- LOGIN-FORM-DIV-STARTS -->

        <div class="hc_login_form">
          <div class="hc_login_form_row">
            <input class="hc_signup_input" placeholder="Enter your Registered mail ID">
          </div>
          <div class="hc_login_form_row">
            <button ion-button class="hc_login_btn">Send Link</button>
          </div>
        </div>

  <!-- LOGIN-FORM-DIV-ENDS -->

        </div>

  <!-- LOGIN-WRAPPER-ENDS -->

</ion-content>
