  <!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">DOCTOR PROFILE</div>
<button ion-button class="nav_btn floatRight" (click)="mainmenu()"><ion-icon name="ios-more"></ion-icon></button>
<div class="clear"></div>
</ion-header>

  <!-- HEADER-ENDS -->


<ion-content padding class="theme_secondary">
  <div class="hc_list_wrapper">
    <ul>
      <li>
        <div class="hc_list_pic">
          <img src="assets/imgs/e_pic3.jpg">
        </div>
        <div class="hc_list_detail">
          <h4>Dr. Colin Macgray</h4>
          <h6>Cardio Specialist</h6>
            <div class="hc_stars">
              <form>
                <span class="rating">
                <input type="radio" value="5" class="star star-5" id="rating-input-1-5" ng-model="star.val" name="val"><label for="rating-input-1-5" class="star star-5"></label>
                <input type="radio" value="4" class="star star-4" id="rating-input-1-4" ng-model="star.val" name="val"> <label for="rating-input-1-4" class="star star-4"></label>
                <input type="radio" value="3" class="star star-3" id="rating-input-1-3" ng-model="star.val" name="val"> <label for="rating-input-1-3" class="star star-3"></label>
                <input type="radio" value="2" class="star star-2" id="rating-input-1-2" ng-model="star.val" name="val"> <label for="rating-input-1-2" class="star star-2"></label>
                <input type="radio" value="1" class="star star-1" id="rating-input-1-1" ng-model="star.val" name="val"> <label for="rating-input-1-1" class="star star-1"></label>
                </span>
              </form>
            </div><p class="hc_rate">4.9</p>
        </div>
        <div class="clear"></div>
      </li>
    </ul>
  </div>
  <div class="hc_description">
    <h5>Short Description</h5>
    <p>Lorem ipsum dolor sit amet, consectetur
adipiscing elit, t. Ut enim ad minim venia
m, quis nostrud exercitation ullamco</p>
  </div>
  <div class="hc_login_form_row">
    <ion-item class="hc_login_calender">
        <ion-datetime   placeholder="Select Date"  min="2017-11-01" max="2030-10-31" displayFormat="MMM DD YYYY"></ion-datetime>
    </ion-item>
  </div>
  <div class="hc_timeschedule">
    <h6>Time</h6>
    <ul>
      <li id="hc_check_button">
          <label>
            <input id="1" type="checkbox" name="services" value="">
            <p>11:00 AM</p>
          </label>
      </li>
      <li id="hc_check_button">
          <label>
            <input id="1" type="checkbox" name="services" value="">
            <p>11:00 AM</p>
          </label>
      </li>
      <li id="hc_check_button">
          <label>
            <input id="1" type="checkbox" name="services" value="">
            <p>11:00 AM</p>
          </label>
      </li>
      <li id="hc_check_button">
          <label>
            <input id="1" type="checkbox" name="services" value="">
            <p>11:00 AM</p>
          </label>
      </li>
      <li id="hc_check_button">
          <label>
            <input id="1" type="checkbox" name="services" value="">
            <p>11:00 AM</p>
          </label>
      </li>
    </ul>
  </div>
  <div class="hc_login_form_row">
    <button ion-button class="hc_login_btn" (click)="open_page('BookdetailPage')">Proceed</button>
  </div>
</ion-content>
