
   <!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
  <button class="nav_btn floatLeft"><ion-icon name="ios-arrow-round-back-outline" (click)="goBack()"></ion-icon></button>
  <div class="nav_header_title floatLeft textCenter">REGISTRATION</div>
  <button class="nav_btn floatRight"></button>
  <div class="clear"></div>
</ion-header>

   <!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">

  <!-- LOGIN-WRAPPER-STARTS -->

  <div class="hc_login_wrapper">

  <!-- LOGIN-FORM-DIV-STARTS -->

      <div class="hc_login_form pt0">
        <div class="hc_login_form_row">
          <input class="hc_signup_input" placeholder="Name">
        </div>
        <div class="hc_login_form_row">
          <input class="hc_signup_input" placeholder="Age">
        </div>
        <div class="hc_login_form_row">
          <input class="hc_signup_input" placeholder="Gender">
        </div>
        <div class="hc_login_form_row">
          <input class="hc_signup_input" placeholder="Email ID">
        </div>
        <div class="hc_login_form_row">
          <input class="hc_signup_input" placeholder="Password">
        </div>
        <div class="hc_login_form_row">
          <button ion-button class="hc_login_btn">Submit</button>
        </div>
        <p class="textCenter">Continue with</p>
        <div class="hc_login_form_row">
          <ion-grid>
            <ion-row>
              <ion-col>
                <button ion-button class="hc_social_btn"><ion-icon name="logo-facebook"></ion-icon>Facebook</button>
              </ion-col>
              <ion-col>
                <button ion-button class="hc_social_btn"><ion-icon name="logo-googleplus"></ion-icon>Google</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

  <!-- LOGIN-FORM-DIV-ENDS -->

      </div>

  <!-- LOGIN-WRAPPER-ENDS -->

</ion-content>
