  <!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">MEDICINE DETAILS</div>
<button ion-button class="nav_btn floatRight" (click)="mainmenu()"><ion-icon name="ios-more"></ion-icon></button>
<div class="clear"></div>
</ion-header>

  <!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_consult_history_wrapper">
    <h6>Medicine Details</h6>
    <div class="hc_consult_history_wrapper_inner">
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <button class="hc_med_time">Morning</button>
          </ion-col>
          <ion-col col-4>
            <div class="hc_med_quantity">3</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <button class="hc_med_time">Afternoon</button>
          </ion-col>
          <ion-col col-4>
            <div class="hc_med_quantity">2</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <button class="hc_med_time">Evening</button>
          </ion-col>
          <ion-col col-4>
            <div class="hc_med_quantity">2</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>
