<ion-content class="theme_transparent">
  <div class="hc_main_menu">
    <h5>MENU</h5>
    <ul>
      <li (click)="close()">User Profile</li>
      <li (click)="open_page('ConsulthistorymainPage')">Consultation History</li>
      <li (click)="open_page('PaymentlistPage')">Payment History</li>
      <li (click)="open_page('MedicinePage')">Medicines</li>
      <li (click)="close()">Social Share</li>
    </ul>
  </div>

</ion-content>
